{% extends "crud/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="p-5 border rounded shadow mt-4">
                <h3>Crear Producto</h3>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{formulario | crispy}}

                    <div>
                        <input type="submit" value="Guardar Producto" class="btn btn-success btn-lg">
                        <a href="{% url "productos" %}">
                            <button type="button" class="btn btn-light border btn-lg">Volver</button>
                        </a>
                    </div>
                </form>


            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>


{% endblock contenido %}